
:root {
    --background-body: #a09da2;
    --background: #e0dee6;
    --text-bright: #0083cd;
    --form-text: #0e0d0d;
    --text-main: #000
  }

.filters {
    margin: 15px;
    width: 240px;
}

.filters .rating , .filters .priceFilter , .filters .search {

    background-color: rgb(255, 255, 255);
    margin-bottom: 3px !important;
    display: grid;
    gap: 5px !important;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
    justify-items: center; 
    align-items: center; 
    padding-bottom: 5px;
}


.filters .rating div{
    display: block;
}

.priceRange {
    font-size: medium;
    text-align: center;
    align-items: center;
}

.priceRange{
    display: flex !important;
    width: auto;
}


.priceRange input{
    width: 50px;
    
}

input {
    color: #fff;
    color: var(--form-text);
    background-color: #69c298;
    background-color: var(--background);
    font-family: inherit;
    font-size: inherit;
    margin: 6px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    outline: none;
  }


  .filters .categories {
    text-align: center;
    list-style: none;
    background-color: rgb(255, 255, 255);
  }

  .rating span{
    align-items: center;
}

  .rating span svg{
    margin-right: 2px;
}

  .rating span:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #c4ae22;
}


  .filters .categories .categoriesList{
    

    
    margin-bottom: 3px !important;
    list-style: none;
    text-align: left;

    margin: 0;
    padding: 0;
    padding-bottom: 5px;

}

.category:hover a, .category:hover input{
    text-decoration: underline; /* Subraya el texto */
    cursor: pointer; /* Cambia el cursor a un ícono de apuntador */
  }

.filters label{
    margin-top: 5px;
    font-weight: bold;
}


.categoriesList{
    margin-left: 10px !important;
}