.color1 {color: #131417;}
.color2 {color: #36373c;}
.color3 {color: #65646c;}
.color4 {color: #a09da2;}
.color5 {color: #e0dee6;}



:root {
  --background-body: #f3f3f3;
  --background: #d3d5d8;
  --text-bright: #0083cd;
  --form-text: #0e0d0d;
  --text-main: #000
}


body {
  font-family:1.6rem/1.5 "metropolis",Arial,Helvetica,sans-serif;
  line-height: 1.4;
  max-width: 100%;
  margin: 0;
  word-wrap: break-word;
  color: #dbdbdb;
  color: var(--text-main);
  background: #cbced1;
  background: var(--background-body);
  text-rendering: optimizeLegibility;
}






button {
  color: #fff;
  color: var(--form-text);
  background-color: #d2d5d8;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

