.color1 {color: #003127;}
.color2 {color: #14cc86;}
.color3 {color: #3a7545;}
.color4 {color: #77a856;}
.color5 {color: #cbe56b;}



:root {
  --background-body: #14cc86;
  --background: #000013;
  --text-bright: #0083cd;
  --form-text: #fff;
  --text-main: #000
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  line-height: 1.4;
  max-width: 100%;
  margin: 0;
  word-wrap: break-word;
  color: #dbdbdb;
  color: var(--text-main);
  background: #cbced1;
  background: var(--background-body);
  text-rendering: optimizeLegibility;
}




input {
  color: #fff;
  color: var(--form-text);
  background-color: #161f27;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

button {
  color: #fff;
  color: var(--form-text);
  background-color: #d2d5d8;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

